<div class="head_container">
  <div class="head_logo_menu" id="head_menu">
    <div class="head_logo" routerLink="/">
      <img class=" logo" src="assets/logo/logo.png">
    </div>
    <div id="headButton" (click)="openMenu()">
      <div class="head_button" [ngStyle]="{'display': menubutton ? 'flex' : 'none'}">
        <a>MENU</a>
      </div>
      <div class="menu_resp" [ngStyle]="{'display': menuVisible ? 'flex' : 'none'}">
        <a id="menuHome" class="menu_contain menu-link" (click)="scrollToSection('#homeSection')">{{ menuHome }}</a>
        <a id="menuMe" class="menu_contain menu-link" (click)="scrollToSection('#aboutMeSection')">{{ menuMe }}</a>
        <a id="menuProjects" class="menu_contain menu-link" (click)="scrollToSection('#projectsSection')">{{
          menuProjects
          }}</a>
        <a id="menucontact" class="menu_contain menu-link" (click)="scrollToSection('#contactSection')">{{ menucontact
          }}</a>
      </div>
    </div>
    <div class="head_menu" id="headLinks">
      <a id="menuHome" class="menu_contain menu-link" (click)="scrollToSection('#homeSection')">{{ menuHome }}</a>
      <a id="menuMe" class="menu_contain menu-link" (click)="scrollToSection('#aboutMeSection')">{{ menuMe }}</a>
      <a id="menuProjects" class="menu_contain menu-link" (click)="scrollToSection('#projectsSection')">{{ menuProjects
        }}</a>
      <a id="menucontact" class="menu_contain menu-link" (click)="scrollToSection('#contactSection')">{{ menucontact
        }}</a>
    </div>
    <div class="head_languages">
      <a id="english" (click)="changeLanguage('english')"
        [ngClass]="{'selected-language': selectedLanguage === 'english'}">EN</a>
      <a id="german" (click)="changeLanguage('german')"
        [ngClass]="{'selected-language': selectedLanguage === 'german'}">DE</a>
      <a id="spanish" (click)="changeLanguage('spanish')"
        [ngClass]="{'selected-language': selectedLanguage === 'spanish'}">ES</a>
    </div>
  </div>
</div>