.contact_cont {
  padding-top: 90px;
  padding-bottom: 90px;
  height: 97%;
}

.contact_section {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding-top: 0;
}

.info_container {
  display: flex;
  height: 50%;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  gap: 15px;
}

.info_type {
  font-size: 17px;
  color: #2a2a79;
  text-decoration: none;
  margin-right: 9px;
}

.info_type span {
  font-size: 17px;
  color: #2a2a79;
  text-decoration: none;
}

.info_linie {
  color: #00cfff;
  height: 22px;
  transform: rotate(135deg);
}

.social_icon_g {
  width: 30px;
}

.social_icon_l {
  width: 32px;
}

.social_icon_t {
  width: 32px;
}

.contact_social_network {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contact_foot {
  height: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.design_by {
  text-decoration: none;
  color: black;
  font-size: 10px;

  &:hover {
    color: #00cfff;
  }
}

.attributions {
  font-size: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;

  &:hover {
    color: #00cfff;
  }
}

.design {
  font-size: 10px;
}

.design_ {
  font-size: 10px;
}

.credits {
  display: flex;
  gap: 10px;
}

@media (width < 1000px) {
  .contact_cont {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info_container {
    padding-bottom: 10px;
  }

  .info_type {
    font-size: 13px;
  }

  .contact_social_network {
    padding-top: 10px;
  }
}

@media (width < 800px) {
  .info_type {
    font-size: 11px;
  }

  .social_icon_g {
    width: 28px;
  }

  .social_icon_l {
    width: 30px;
  }

  .social_icon_t {
    width: 30px;
  }
}

@media (width < 700px) {
  .info_container {
    gap: 0;
  }
}

@media (width < 600px) {
  .info_container {
    flex-wrap: wrap;
    align-items: center;
  }

  .info_type {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 7px;
  }

  .info_linie {
    height: 18px;
  }

  .info_info {
    display: flex;
    justify-content: flex-end;
  }

  .contact_cont {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .linie_600 {
    display: none;
  }

  .social_icon_g {
    width: 26px;
  }

  .social_icon_l {
    width: 28px;
  }

  .social_icon_t {
    width: 28px;
  }

  .design {
    font-size: 8px;
  }

  .design_ {
    font-size: 8px;
  }

  .design_by {
    font-size: 8px;
  }

  .attributions {
    font-size: 8px;
  }
}

@media (width < 460px) {
  .info_type {
    width: 150px;
  }

  .social_icon_g {
    width: 24px;
  }

  .social_icon_l {
    width: 26px;
  }

  .social_icon_t {
    width: 26px;
  }
}

@media (width < 370px) {
  .info_type {
    width: 170px;
    justify-content: center;
  }

  .info_linie {
    display: none;
  }

  .contact_foot {
    flex-direction: column;
  }

  .design_by {
    text-align: center;
  }

  .contact_section {
    text-align: center;
  }
}
