<section class="projects_section column-center" id="projectsSection">
    <div class="all_projects">
        <div class="projects_title_cont">
            <a class="projects_title">{{projectsTitle}}</a><br>
        </div>
        <div class="projects_container wrap-center" id="projectsContainer">
            <div *ngFor="let project of projects" class="projects column-center-center">
                <img class="projects_img" [style.backgroundImage]="'url(' + project.screenshot + ')'"
                    (click)="openWebsite(project.website)">
                <div class="projects_name_cont">
                    <a class="projects_name" id="projectsName">{{ project.name }}</a>
                    <img class="projects_github" src="assets/icons/github.svg" (click)="openGithub(project.github)">
                </div>
            </div>
        </div>
    </div>
</section>