<app-head></app-head>
<section class="attributions">
    <div class="title_att">
        <a class="attributions_title">ATTRIBUTIONS</a>
    </div>
    <a class="attributions_text">Below are the resources used in this project, along with their respective
        credits and links to the sources:</a>
    <div class="attributions_list">
        <li><a target="_blank" href="https://icons8.com/icon/xuvGCOXi8Wyg/linkedin">LinkedIn</a> icon by
            <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li><a target="_blank" href="https://icons8.com/icon/3tC9EQumUAuq/github">GitHub</a> icon by <a target="_blank"
                href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/5MQ0gPAYYx7a/twitter">Twitter</a> icon by
            <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li><a target="_blank" href="https://icons8.com/icon/-ERR-M1lP9BB/linie">Linie</a> icon by <a target="_blank"
                href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/21278/css3">CSS</a> icon by <a target="_blank"
                href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/PXTY4q2Sq2lG/javascript">JavaScript</a>
            icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/fsZLSWECcBuK/api-einstellungen">API-Einstellungen</a>
            icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/17967/spanien">Spanien</a> icon by <a target="_blank"
                href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/15502/deutschland">Deutschland</a> icon by
            <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li><a target="_blank" href="https://icons8.com/icon/15534/gro%C3%9Fbritannien">Großbritannien</a> icon
            by
            <a target="_blank" href="https://icons8.com">Icons8</a>
        </li>
        <li><a target="_blank" href="https://icons8.com/icon/123603/react-native">React Native</a> icon
            by <a target="_blank" href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/d9MaqNTok1pu/sprintwiederholung">Scrum</a>
            icon by <a target="_blank" href="https://icons8.com">Icons8</a>

        </li>
    </div>
    <a class="attributions_text">I would like to express our gratitude to Icons8 for providing these
        valuable resources used in this project</a>
</section>