<section class="home-section  space-around-flex-start" id="homeSection">
  <video autoplay muted loop id="video-background">
    <source src="assets/video/video.mp4" type="video/mp4">
  </video>
  <div class="title_portfolio center-center">
    <a class="title">{{ title }}</a>&nbsp;&nbsp;&nbsp;<span class="title" id="typed-text">{{ currentText }}</span>
  </div>
  <div class="home_social_network column-center-center">
    <span id="followMe" class="social_network">{{ follow }}</span>
    <img src="assets/icons/white_linie.png" class="sozial_line">
    <a href="https://github.com/JotaDev09" target="_blank">
      <img src="assets/icons/githubWhite.png" class="home_icon_g"></a>
    <a href="https://www.linkedin.com/in/jota-developer/" target="_blank">
      <img src="assets/icons/linkedinWhite.png" class="home_icon_l"></a>
    <a href="https://twitter.com/JotaSG9" target="_blank">
      <img src="assets/icons/twitterWhite.png" class="home_icon_t"></a>
  </div>
</section>